*{
  margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  
}
/* Hide scrollbar but keep page scrollable */
body {
  overflow: scroll; /* Allow scrolling */
  height: 100%; /* Ensure body takes full height */
  width: 100%; /* Ensure body takes full width */
}

::-webkit-scrollbar {
  display: none;
}